<mat-card class="example-card">
  <div class="headerStyle header">
    <div class="leftHeader">
      <p>Notifications</p>
      <div class="numberNotif" [innerHtml]="getNumberUnread()"></div>
    </div>
    <div class="rightHeader body">
      <span class="markAllRead" (click)="readAll()">Mark all as read</span>
    </div>
  </div>


  <mat-card-content>
    <mat-card class="notification" *ngFor="let notification of notifications"
      [ngStyle]="{'background-color': (notification?.read === true) ? 'var(--white-color)' : '#DDE7EE'}">
      <mat-card-content class="cardContent">
        <div mat-card-avatar class="example-header-image"><img [src]="notification?.image" /></div>
        <div><span class="bodyBold">{{notification.nom}} {{notification.prenom}} </span> <span
            class="body">{{notification.text}}</span> <span class="bodyBold"> {{notification.boldText}}</span><span
            class="bodyBold blue"> {{notification?.groupName}}</span>
          <div class="redDot" *ngIf="!notification?.read"></div>
          <br>
          <span class="body">{{notification.msgDate}}</span>
          <div class="body privateMessage" *ngIf="notification?.privateMessage">{{notification.privateMessage}}</div>
        </div>
        <div class="imageCommente" *ngIf="notification?.imageCommente"><img [src]="notification?.imageCommente" />
        </div>

      </mat-card-content>
    </mat-card>

  </mat-card-content>
</mat-card>